/* ================= PAGE SETUP ================= */
@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind Siliguri", Arial, sans-serif;
  background-image: url("{{backgroundImage}}");
  background-repeat: repeat-y;
  background-size: 100% 297mm;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* ================= HEADER ================= */
.header {
  height: 330px;
  position: relative;
  page-break-after: avoid;
}

.order-info {
  position: absolute;
  top: 153px;
  left: 90px;
  line-height: 1.6;
}

.billing {
  position: absolute;
  top: 255px;
  left: 270px;
  line-height: 2.1;
}

.billing-name { font-size: 25px; font-weight: bold; }
.billing-address { font-size: 20px; max-width: 350px; }

/* ================= ITEMS ================= */
.items {
  margin-top: 120px;
  margin-left: 60px;
  padding: 0 90px;
}

.row {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  font-size: 16px;
  padding: 10px 0;
  page-break-inside: avoid;
}

/* ================= SUMMARY & TOTAL ================= */
.summary {
  margin-top: 215px;
  margin-right: 120px;
  margin-left: auto;
  width: 200px;
  font-size: 16px;
  page-break-inside: avoid;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #b91c1c;
}

.total {
  margin-top: -5px;
  margin-right: 110px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: hsl(266, 100%, 52%);
  page-break-inside: avoid;
}